<template>
  <div class="components-page-header">
    <!-- 头部区域 -->
    <div class="logo-wrapper cursor-pointer" @click="$router.push('/')">
      <img :src="headerIcon" alt="" />
      <span>{{ headerTitle }}</span>
    </div>
    <slot></slot>
    <div class="pull-right">
      <userHeaderBar class="user-header-bar"></userHeaderBar>
    </div>
  </div>
</template>

<script>
import userHeaderBar from "./user-header-bar";
import { mapState } from "vuex";
export default {
  name: "page-header",
  components: { userHeaderBar },
  computed: {
    ...mapState({
      userData: state => state.user.userData,
      token: state => state.user.token
    })
  },
  methods: {
    logoutFn() {
      this.$router.push({ name: "Login" });
    },
    goLogin() {
      this.$mUtils.Cookie.set(
        "beforeLoginUrl",
        encodeURIComponent(this.$route.fullPath),
        1 / 24 / 60,
        window.location.host,
        window.location.pathname.substring(
          0,
          window.location.pathname.length - 1
        )
      ); // 保存用户进入的url
      this.$router.push({ name: "Login" });
    }
  }
};
</script>

<style></style>
