<template>
  <div id="app">
    <router-view class="sub-page" />
  </div>
</template>

<style lang="scss">
html,
body {
  position: relative;
  height: 100%;
  margin: 0;
}
#app {
  position: relative;
  height: 100%;
  padding-top: 48px;
  .page-header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  &.hideHeader {
    padding-top: 0;
  }
}
.sub-page {
  position: relative;
  height: 100%;
}
</style>
